
/* ===================> Fonts <================== */

/* ====> Content <==== */

body,
li p {
	font:13px/18px Arial, Helvetica, 'Nimbus Sans L', sans-serif;
	font-weight:normal;
	font-style:normal;
}

input[type="submit"] {
	font-family:Arial, Helvetica, 'Nimbus Sans L', sans-serif;
}

table.table th {
	font-family:Arial, Helvetica, 'Nimbus Sans L', sans-serif;
	font-weight:normal;
}

.cmsmsLike, 
.pj_sort a[name="pj_name"], 
.pj_sort a[name="pj_date"], 
a.pj_cat_filter, 
ul.pj_filter_list li a, 
.post .entry-header a, 
.cmsms_tags a, 
.cmsms_tags,  
.tabs li a, 
.tour > li a, 
.cmsms_price_outer span, 
.cmsms_period, 
.colored_button a, 
.project_rollover .entry-meta a, 
.tl_company, 
.tweet_time a, 
.cmsms_post_info, 
.cmsms_post_info a, 
.tab.lpr .tabs li a, 
.blog.opened-article .post .entry-header, 
.testimonial .entry-meta, 
.testimonial .entry-meta a, 
.person_subtitle, 
.cmsms_latest_rollover .cmsms_category a, 
.cmsms_latest_rollover .cmsms_category, 
.cmsms_icon_title, 
.cmsms_timeline_date, 
.heading_subtitle, 
a.more_button, 
.tog {
	font-family:'Raleway', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
}

ul.pj_filter_list li a {
	font-size: 12px;
}

.heading_subtitle {
	font-size: 20px;
	line-height: 24px;
}

a.more_button {
	font-size: 13px;
	font-weight: normal;
}


/* ====> Links <==== */

a {
	font:13px/18px Arial, Helvetica, 'Nimbus Sans L', sans-serif;
	font-weight:normal;
	font-style:normal;
}

/* ====> Navigation <==== */

#navigation > li > a, 
#navigation > li {
	font:16px/20px 'Raleway', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
	font-weight:normal;
	font-style:normal;
}

#navigation ul li a {
	font:13px/20px 'Raleway', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
	font-weight:normal;
	font-style:normal;
}

.responsive_nav {
	background-color:#57a2bc;
}


/* ====> Headings <==== */

h1,
h1 a,
.logo .title {
	font:44px/56px 'Raleway', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
	font-weight:600;
	font-style:normal;
}

h2,
h2 a {
	font:24px/36px 'Raleway', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
	font-weight:normal;
	font-style:normal;
}

h3,
h3 a {
	font:24px/36px 'Raleway', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
	font-weight:normal;
	font-style:normal;
}

h4,
h4 a,
.cmsms_sitemap > li > a {
	font:20px/24px 'Raleway', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
	font-weight:normal;
	font-style:normal;
}

h5,
h5 a {
	font:18px/24px 'Raleway', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
	font-weight:normal;
	font-style:normal;
}

h6,
h6 a, 
.table tr th, 
.cmsms_date_title, 
.percent_item_colored_wrap .percent_item_text, 
.cmsms_info .cmsms_comments_wrap {
	font:14px/18px Arial, Helvetica, 'Nimbus Sans L', sans-serif;
	font-weight:normal;
	font-style:normal;
}


/* ====> Other <==== */

blockquote, 
q {
	font:18px/24px 'Raleway', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
	font-weight:normal;
	font-style:normal;
}

q:before, 
.tl-content_wrap:before, 
.widget .tl-content_wrap:after, 
.blog.opened-article .cmsms_post_format_img:before, 
blockquote:before {font-family:'Headland One Regular';}

span.dropcap {
	font:40px/40px 'Raleway', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
	font-weight:normal;
	font-style:normal;
}

code {
	font:13px/18px Arial, Helvetica, 'Nimbus Sans L', sans-serif;
	font-weight:normal;
	font-style:normal;
}

small,
small a, 
.cmsms_breadcrumbs, 
.cmsms_breadcrumbs a {
	font:12px/18px Arial, Helvetica, 'Nimbus Sans L', sans-serif;
	font-weight:normal;
	font-style:normal;
}

input, 
textarea, 
select {
	font:13px/18px 'Raleway', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
	font-weight:normal;
	font-style:normal;
}

#footer,
#footer a {
	font:12px/18px Arial, Helvetica, 'Nimbus Sans L', sans-serif;
	font-weight:normal;
	font-style:normal;
}


/* ===================> Colors <================== */

/* ====> Content <==== */
	
body {
	color:#202020;
}


/* ====> Links <==== */

a, 
.person_subtitle, 
.comment-body .published {
	color:#57a2bc;
}

a:hover, 
.cmsms_breadcrumbs {
	color:#b0b0b0;
}

.pj_sort a[name="pj_name"], 
.pj_sort a[name="pj_date"], 
a.pj_cat_filter, 
div.jp-playlist li a:hover, 
.project_rollover .entry-header .entry-title a, 
.widget_custom_recent_testimonials_entries .tl_author a:hover, 
.related_posts_content a, 
.comment-edit-link:hover, 
.comment-reply-link:hover,
#cancel-comment-reply-link:hover, 
ul.pj_filter_list li:hover a, 
ul.pj_filter_list li.current a, 
.jp-playlist-current, 
.breadcrumbs_sep, 
.cmsms_icon_title {
	color:#202020;
}

.color_3, 
q:before, 
.cmsms_meta_inner h5, 
blockquote:before, 
.comment-edit-link, 
.comment-reply-link,
#cancel-comment-reply-link, 
.widget_custom_recent_testimonials_entries .tl_author a, 
.related_posts_content a:hover, 
.table tr th, 
.cmsms_icon_title:hover {
	color:#cc3300;
}


/* ====> Navigation <==== */

#navigation > li > a {
	color:#cc3300;
}

#navigation > li.current_page_item > a,
#navigation > li.current-menu-ancestor > a,
#navigation > li:hover > a,
#navigation > li > a:hover {
	color:#323232;
}

#navigation ul li > a {
	color:#b0b0b0;
}

#navigation ul li.current_page_item > a,
#navigation ul li.current-menu-ancestor > a,
#navigation ul li:hover > a {
	color:#323232;
}


/* ====> Headings <==== */

h1,
.logo {
	color:#323232;
}

h2 {
	color:#323232;
}

h3 {
	color:#323232;
}

h4 {
	color:#323232;
}

h5 {
	color:#323232;
}

h6 {
	color:#323232;
}

h1 a, 
h2 a, 
h3 a, 
h4 a, 
h5 a, 
h6 a, 
.project_rollover .entry-header .entry-title a:hover, 
a.more_button:hover {
	color:#cc3300;
}

h1 a:hover, 
h2 a:hover, 
h3 a:hover, 
h4 a:hover, 
h5 a:hover, 
h6 a:hover {
	color:#323232;
}


/* ====> Other <==== */

.color_2, 
blockquote, 
q {
	color:#202020;
}

span.dropcap {
	color:#212121;
}

span.dropcap2 {color:#ffffff;}

span.dropcap2 {
	background-color:#212121;
}

code {
	color:#202020;
}

small {
	color:#202020;
}

input, 
textarea, 
select,
select option {
	color:#202020;
}


/* ====> Footer Content <==== */

#bottom, 
#bottom small, 
#footer {
	color:#cbccc2;
}

#bottom h1, 
#bottom h2, 
#bottom h3, 
#bottom h4, 
#bottom h5, 
#bottom h6 {
	color:#9b9b97;
}


/* ====> Footer Links <==== */

#bottom a, 
#footer a {
	color:#cbccc2;
}

#bottom a:hover, 
#footer a:hover, 
#footer h1 a:hover, 
#footer h2 a:hover, 
#footer h3 a:hover, 
#footer h4 a:hover, 
#footer h5 a:hover, 
#footer h6 a:hover {
	color:#323232;
}

/* ===================> Backgrounds and Borders <================== */

#slide_top:hover,
.social_but, 
h2:before, 
.headline:after, 
.header_inner:after, 
.button:hover, 
.pricing_button:hover, 
.button_small:hover, 
.button_medium:hover, 
.button_large:hover, 
input[type="submit"]:hover, 
.cmsmsLike:hover, 
.cmsmsLike.active, 
.cmsmsLike:hover span, 
.cmsmsLike.active span, 
.tog:hover:before, 
.tog.current:before,  
ul.page-numbers span, 
.cmsms_content_slider_parent ul.cmsms_slides_nav li a, 
.tp-bullets.simplebullets.round .bullet:hover, 
.tp-bullets.simplebullets.round .bullet.selected, 
.ls-industrial .ls-bottom-slidebuttons a.ls-nav-active,
.ls-industrial .ls-bottom-slidebuttons a:hover, 
.pj_sort a[name="pj_name"]:after, 
.pj_sort a[name="pj_date"]:after, 
a.pj_cat_filter:after, 
.cmsms_share:hover:before, 
.commentlist li div.comment-content ul li:hover:before, 
div.jp-playlist li:hover:before, 
.list li:hover:before, 
.widget_links ul li:hover:before, 
.widget.widget_archive ul li:hover:before, 
.widget.widget_categories ul li:hover:before, 
.widget.widget_meta ul li:hover:before, 
.widget.widget_recent_comments ul li:hover:before, 
.widget.widget_recent_entries ul li:hover:before, 
.widget.widget_pages ul li:hover:before, 
.widget.widget_nav_menu ul li:hover:before, 
.content_wrap div[data-folder="text"] ul li:hover:before, 
.rev_slider > ul > li a.more_but:hover:before, 
a.more_button:hover:before {
	background-color:#cc3300;
}

.pj_filter_container ul.pj_filter_list, 
#navigation li > ul, 
code {
	border-top-color:#cc3300;
}

#navigation > li.current_page_item > a,
#navigation > li.current-menu-ancestor > a, 
#navigation > li > ul:before {
	border-bottom-color:#cc3300;
}

/* =================> Social Icons Background Colors <================ */

#header .social_icons li:nth-child(1) > a:first-child, #footer .social_icons li:nth-child(1) > a:first-child {background-color:#0072bc;}
#header .social_icons li:nth-child(2) > a:first-child, #footer .social_icons li:nth-child(2) > a:first-child {background-color:#2e3192;}
#header .social_icons li:nth-child(3) > a:first-child, #footer .social_icons li:nth-child(3) > a:first-child {background-color:#cc3300;}
#header .social_icons li:nth-child(4) > a:first-child, #footer .social_icons li:nth-child(4) > a:first-child {background-color:#f6ad1a;}
#header .social_icons li:nth-child(5) > a:first-child, #footer .social_icons li:nth-child(5) > a:first-child {background-color:#20adc9;}


/* ---------- Small Tablet & Mobile (Note: Design for a width less than 1024px) ---------- */

@media only screen and (max-width: 1024px) {
	
	#navigation ul li a, 
	#navigation li a {
		color:#cc3300;
	}
	
	#navigation li.current_page_item > a, 
	#navigation li.current-menu-ancestor > a, 
	#navigation ul li.current_page_item > a,
	#navigation ul li.current-menu-ancestor > a {
		color:#323232;
	}
	
}

