/* Style Changer */

#stlChanger {
	color:#010101;
	font-size:1em;
	overflow:hidden;
	position:fixed;
	top:200px;
	left:0;
	z-index:1000;
}

#stlChanger .siteChanger, #stlChanger .bgChanger, #stlChanger .buts {
	position:relative;
	overflow:hidden;
}

#stlChanger .siteChanger, #stlChanger .bgChanger {
	min-width:35px;
	min-height:100px;
}

#stlChanger a {
	color:#010101;
	text-decoration:none;
}

#stlChanger a:hover {text-decoration:none;}

#stlChanger .blockChanger {
	width:103px;
	padding:0 36px 5px 0;
}

#stlChanger .chBody {
	border-top:1px solid #ececec;
	border-bottom:1px solid #ececec;
	border-right:1px solid #ececec;
	background:#fefefe;
	width:102px;
	padding:8px 0 5px 0;
	position:relative;
	overflow:hidden;
	border-radius:0 2px 2px 0;
	-moz-border-radius:0 2px 2px 0;
	-o-border-radius:0 2px 2px 0;
	-webkit-border-radius:0 2px 2px 0;
}

#stlChanger .chBut {
	border-top:1px solid #ececec;
	border-bottom:1px solid #ececec;
	border-right:1px solid #ececec;
	background:#fefefe url(images/arrow.png) 14px 16px no-repeat;
	width:35px;
	height:40px;
	position:absolute;
	top:24px;
	right:1px;
	z-index:10;
	border-radius:0 2px 2px 0;
	-moz-border-radius:0 2px 2px 0;
	-o-border-radius:0 2px 2px 0;
	-webkit-border-radius:0 2px 2px 0;
}

#stlChanger .chBut.closed {background-position:15px -33px;}

#stlChanger .stBlock {
	position:relative;
}

#stlChanger span {
	font-size:10px;
	text-transform:uppercase;
	display:block;
	padding:3px 0;
}

#stlChanger .hdrCols,
#stlChanger .stBgs {
	width:102px;
	text-align:center;
}

#stlChanger .stBgs a  {
	background-color:transparent;
	border:1px solid #ececec;
	text-decoration:none;
	overflow:hidden;
	width:80px;
	text-align:center;
	height:25px;
	padding:0;
	margin:0 0 5px;
	cursor:pointer;
	display:inline-block;
}

#stlChanger .stBgs > span {
	text-align:center;
	padding-bottom:8px;
}

#stlChanger .stBgs a span {
	width:40px;
	height:25px;
	display:block;
	float:left;
	padding:0;
}

#stlChanger .stBgs a.current {
	border:1px solid #000;
}

#stlChanger .stColorParent {
	position:relative;
	overflow:hidden;
	margin-bottom:8px;
}

#stlChanger a.stColor2 {
	border:0;
	background:none;
	color:#7c7c7c;
	display:block;
	float:left;
	position:relative;
	overflow:hidden;
}

#stlChanger a.stColor2 span {
	background:url(images/picker.png) no-repeat 42px 10px;
	border:1px solid #000000;
	width:97px;
	height:38px;
	padding:0;
	margin:0;
}

#stlChanger .butNParent {
	border-top:1px solid #b7b7b7;
	padding:8px 8px 0 10px;
	margin:10px -8px -7px -10px;
	position:relative;
	overflow:hidden;
}

#stlChanger .butNParent a.butN {
	border:1px solid #b7b7b7;
	display:block;
	line-height:22px;
	text-align:center;
	width:58px;
	height:22px;
	padding:2px 0;
	margin:0 auto;
	background:#fefefe;
	background:linear-gradient(#f7f7f7, #efefef);
	background:-moz-linear-gradient(#f7f7f7, #efefef);
	background:-webkit-gradient(linear, 0 0, 0 bottom, from(#f7f7f7), to(#efefef));
	-pie-background:linear-gradient(#f7f7f7, #efefef);
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}

#stlChanger .butNParent a.butN:hover {
	background:linear-gradient(#efefef, #f7f7f7);
	background:-moz-linear-gradient(#efefef, #f7f7f7);
	background:-webkit-gradient(linear, 0 0, 0 bottom, from(#efefef), to(#f7f7f7));
	-pie-background:linear-gradient(#efefef, #f7f7f7);
}

#stlChanger .stCHLoader {
	background:url(images/loader.gif) 0 0 no-repeat;
	display:none;
	width:20px;
	height:20px;
	position:absolute;
	left:50px;
	bottom:2px;
}

